// We use the .babelrc here to help transpile our tools and support tooling
// (such as testing libs).
// I would recommend that you keep this file in feature parity with
// the config/babelConfigResolver. That way you get to use the same level of
// javascript syntax across the entire project.
// It's nice not having to worry/think about what level of javascript syntax
// is supported for each context.
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings"
  ]
}
